<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">About Page</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="h4">Details</h2>
      <ul class="list-group">
        <li class="list-group-item">Name: Liam Gevaerts</li>
        <li class="list-group-item">Student Number: 2172564</li>
        <li class="list-group-item">Description:</li>
        <p>
          Ik ontwikkel een Wiki-webapplicatie voor de game Terraria, waarin
          gebruikers informatie kunnen vinden over items en vijanden. De
          applicatie biedt inzicht in welke vijanden specifieke items droppen en
          onder welke omstandigheden. De applicatie richt zich op fans van de
          game die snel toegang willen hebben tot gedetailleerde informatie over
          de interactie tussen items en vijanden in het spel.
        </p>
        <li class="list-group-item">ERD:</li>
        <img src="/ClientsideERD.png" alt="ERD" />
        <li class="list-group-item">Functional Requirements:</li>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Functional Requirement</th>
              <th>Acceptatiecriteria</th>
              <th>Prioriteit (MoSCoW)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FR1</td>
              <td>
                Als een gebruiker wil ik een account kunnen aanmaken, zodanig
                dat ik toegang krijg tot alle functionaliteiten.
              </td>
              <td>
                Gebruiker kan succesvol registreren met een uniek e-mailadres en
                wachtwoord.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR2</td>
              <td>
                Als een gebruiker wil ik kunnen inloggen, zodanig dat ik mijn
                account kan beheren.
              </td>
              <td>
                Gebruiker kan inloggen met correcte inloggegevens en krijgt
                toegang tot hun persoonlijke dashboard.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR3</td>
              <td>
                Als een gebruiker wil ik artikelen kunnen toevoegen, zodanig dat
                ik informatie kan delen over de game.
              </td>
              <td>
                Gebruiker kan een nieuw artikel aanmaken, opslaan, en wijzigen
                via een formulier.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR4</td>
              <td>
                Als een gebruiker wil ik een overzicht van alle artikelen,
                zodanig dat ik makkelijk informatie kan vinden.
              </td>
              <td>
                Gebruiker ziet een lijst met artikelen, gesorteerd op datum of
                populariteit.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR5</td>
              <td>
                Als een gebruiker wil ik artikelen kunnen bewerken, zodanig dat
                ik mijn bijdrage kan aanpassen.
              </td>
              <td>
                Alleen de auteur van een artikel kan dit bewerken, mits
                ingelogd.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR6</td>
              <td>
                Als een gebruiker wil ik mijn favoriete artikelen kunnen
                opslaan, zodanig dat ik snel toegang heb.
              </td>
              <td>
                Gebruiker kan een artikel markeren als favoriet en dit
                terugvinden in een persoonlijke lijst.
              </td>
              <td>Could Have</td>
            </tr>
            <tr>
              <td>FR7</td>
              <td>
                Als gebruiker wil ik een overzicht zien van alle items, zodanig
                dat ik details over specifieke items kan bekijken.
              </td>
              <td>
                - De lijst toont minimaal itemnaam, type, en zeldzaamheid. - Ik
                kan klikken op een item om meer details te zien, zoals
                beschrijving en gebruik.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR8</td>
              <td>
                Als gebruiker wil ik een overzicht zien van alle vijanden,
                zodanig dat ik details over specifieke vijanden kan bekijken.
              </td>
              <td>
                - De lijst toont minimaal vijandnaam, type, en sterkte. - Ik kan
                klikken op een vijand om meer details te zien, zoals hun sterkte
                en unieke kenmerken.
              </td>
              <td>Must Have</td>
            </tr>
            <tr>
              <td>FR8</td>
              <td>
                Als gebruiker wil ik kunnen zien welke vijanden een bepaald item
                droppen, zodanig dat ik gericht kan zoeken naar specifieke drops
                in het spel.
              </td>
              <td>
                - Op de detailpagina van een item zie ik een lijst met vijanden
                die het droppen. - De lijst toont dropkans en eventuele
                condities.
              </td>
              <td>Must Have</td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>
  </div>
</div>
